.box1 {
    /* border: 1px solid #000; */
    padding-top: 12px;
    padding-left: 20px;
    /* margin: 10px; */
    height: 70px;
    width: auto;
}

.pleft{
    text-align: left;
}

.small-font{
    font-size: 24px !important;
}

.red-font{
    color: red;
}